<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Killswitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Killswitch.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="upgradeUserSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="authenticated" serializeAs="String">
                <value>False</value>
            </setting>
        </Killswitch.Properties.Settings>
    </userSettings>
</configuration>